<template name="sydebar_menu">
    <ul class="nav nav-pills nav-stacked">
        {{#if currentUser }}
        <li class="active"><a href="{{pathFor 'home'}}"><i class="fa fa-home fa-fw"></i>Home</a></li>
        <li><a href="#"><i class="fa fa-list-alt fa-fw"></i>Contracts</a></li>
        <li><a href="#"><i class="fa fa-file-o fa-fw"></i>Templates</a></li>
        <li><a href="#"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>
        <li><a href="#" id="sign_out"><i class="fa fa-sign-out fa-fw"></i>Sign out</a></li>
        {{else}}
            <li><a href="{{pathFor 'sign_in'}}">Sign in / Register</a></li>
        {{/if}}
    </ul>
</template>