<template name="contact">
    <div class="row">
        <h2>This app was created by</h2>
        <div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="https://avatars2.githubusercontent.com/u/6748623?v=3&s=460">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="https://github.com/adrianbadarau">Adrian Badarau</a>
                    </div>
                    <div class="desc">Passionate developer</div>
                    <div class="desc">Curious Person</div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/AdrianBadarau">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/u/0/116439141627468693988">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/adrian.badarau">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-default btn-sm" rel="publisher" href="https://github.com/adrianbadarau">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>

        </div>

    </div>

</template>