<head>
    <title>The ContracTOR</title>
</head>

<body>{{ renderContent }}</body>

<template name="main">
    <div class="container">
        {{> header }}
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>Home</a></li>
                    <li><a href="#"><i class="fa fa-list-alt fa-fw"></i>Contracts</a></li>
                    <li><a href="#"><i class="fa fa-file-o fa-fw"></i>Templates</a></li>
                    <li><a href="#"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>
                </ul>
            </div>
            <div class="col-md-9 well">
                {{> yield }}
            </div>
        </div>

    </div>
</template>