<template name="home">
    {{#if currentUser}}
        <div class="row">
            <a href="{{ pathFor 'contracts_create'}}" class="btn btn-primary btn-xs pull-left"><b>+</b> Add new Contract</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>NR</th>
                    <th>Client</th>
                    <th>Expiration Date</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                {{#each contracts}}
                    <tr>
                        <td>{{nr}}</td>
                        <td>{{client}}</td>
                        <td>{{expiration_date}}</td>
                        <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    {{else}}
        <h3>Please <a href="{{ pathFor 'sign_in' }}">Sign In / Register</a> to be able to use the application</h3>
    {{/if}}
</template>