<template name="header">
    <a class="menu-bar" data-toggle="collapse" href="#menu">
        <span class="bars"></span>
    </a>
    <div class="collapse menu" id="menu">
        <ul class="list-inline">
            <li><a href="{{pathFor 'home'}}">Home</a></li>
            <li><a href="{{pathFor 'about'}}">About</a></li>
            <li><a href="{{pathFor 'contact'}}">Contact</a></li>
        </ul>
    </div>
    <div class="row">
        <h2 class="text-center">
            The ContracTOR app
        </h2>
    </div>
</template>